@tailwind utilities;

body {
  --semi-color-primary: #57534e;
  --semi-color-primary-hover: #44403c;
  --semi-color-primary-active: #292524;
  --semi-color-primary-disabled: #e7e5e4;
  --semi-color-primary-light-hover: #f5f5f4;
  --semi-color-primary-light-active: #e7e5e4;
}

/* css */
