@tailwind utilities;

body {
  --semi-color-primary: #1d4ed8;
  --semi-color-primary-hover: #1e40af;
  --semi-color-primary-active: #1e3a8a;
  --semi-color-primary-disabled: #bfdbfe;
  --semi-color-primary-light-hover: #dbeafe;
  --semi-color-primary-light-active: #bfdbfe;
}

.ant-input:focus,
.ant-input-focused,
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  box-shadow: none;
}

/* css */
