.navigation {
}

.navigation :global(li.semi-navigation-item-normal) {
  line-height: 24px;
  font-size: 1rem;
  height: 40px;
}

.navigation :global(li.semi-navigation-sub-wrap .semi-navigation-sub-title) {
  line-height: 24px;
  font-size: 1rem;
  height: 40px;
}

.navigation
  :global(li.semi-navigation-item:hover.semi-navigation-item-selected) {
  background-color: #e7e5e4;
}

.navigation :global(.semi-navigation-item-icon:first-child) {
  min-width: 24px;
  height: 24px;
}

.navigation :global(li.semi-navigation-item-selected) {
  background-color: #e7e5e4;
}

.navigation :global(.semi-navigation-collapsed) {
  width: 65px;
}

.navigation::-webkit-scrollbar {
  width: 8px;
}

.navigation::-webkit-scrollbar-thumb {
  background-color: #f5f5f4;
}

.navigation:hover::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #e7e5e4;
}

.navigation::-webkit-scrollbar-corner {
  background-color: #f5f5f4;
}

.navigation::-webkit-scrollbar-track {
  background-color: #f5f5f4;
}

/*
.semi-navigation-collapse-btn .semi-button {
} */
/* .side-nav .semi-navigation-list-wrapper
.side-nav .semi-navigation-list-wrapper
.side-nav .semi-navigation-list-wrapper:
.side-nav .semi-navigation-list-wrapper
.side-nav .semi-navigation-list-wrapper */
